*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
input{
    width: 390px;
    outline: none;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 16px 36px;
    margin-bottom:20px;
}
input:invalid{
    color: red;
    border: 1px solid red;
    animation-name: shake;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
h3,h5,h1{
    font-family: "Roboto", sans-serif;
    color:white;
}
h1{
    font-size: 40px;
    margin-left: 150px;
}
h5{
    margin-left: 140px;
}
h3{
    margin-bottom:20px;
}
h6{
    color: white;
    margin-left: 160px;
    margin-top:20px;
}
p{
    margin-left: 20px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
}
ul{
    margin-top:20px;
    gap: 20px;
    list-style: none;
    display: flex;
}
.g-li{
    width: 115px;
    background-color: #fcfafa;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
.google{
    width: 60px;
    height: 30px;
    border-radius: 10px;
}
.github{
    width: 30px;
    height: 30px;           
}
.facebook{
    width: 35px;
    height: 35px;    
}
.btn{
    margin-top: 30px;
    background-color: rgb(39, 25, 129);
    width: max-content;
    padding: 10px 160px;
    height: 45px;
    border-radius: 10px;
}
body{
    align-items: center;
    height: 100vh;
    background-image:url("src/Screenshot 2025-12-06 125025.png");
    background-size: 101%;
    display: flex;
    justify-content: center;
}
.rectangle{
    height: 650px;
    background-color: rgba(255, 255, 255, 0.14);
    width: max-content;
    padding: 60px 90px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}   
@keyframes shake {
    0%{
        transform:translateX(-5px);
    }
    25%{
        transform:translateX(5px);
    }
    50%{
        transform:translateX(-5px);
    }
    100%{
        transform:translateX(5px);
    }
}